
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhaar.pk</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body style="background:#ffffff; font-family: 'Helvetica Neue', 'Arial', sans-serif;">
<table style="width: 700px; margin: 0 auto; border-collapse: collapse; background:#fff; text-align:left; table-layout: fixed; font-family: 'Helvetica Neue', 'Arial', sans-serif;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 100%; text-align:center;" colspan="2">
            <a target="_blank" href="https://www.dhaar.pk/">
                <img src="https://storage.dhaar.pk/Header1.png" width="100%">
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 0 30px; color: #000;">
                <h2 style="margin: 10px; font-size: 24px;text-align: center;">Welcome to Dhaar.pk</h2>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding: 0 30px; color: #000;">
            <p style="margin-top: 10px; font-weight: bold;    font-size: 18px;">
                Dear {{username}}}
            </p>
            <p style="margin-top: 0; font-weight: bold;">
                    Welcome to Dhaar.pk.Thenks you for wating to us.<br>
                    We have received your message we will get back to you with in next 24 hours.    
            </p>
        

            
            <p style="margin: 10px 0; font-weight: bold;">
                    If you didn't send this message ignore this email or visit our <a href="#"> Help Center </a>for the latest tips and frequently asked questions.
                    Should you want to contact us, feel to leave us a note <a href="#">here</a>.
            </p>
            <p style="margin: 10px 0; font-weight: bold; font-size: 18px; color: #c00">
                Keep Shopping,<br>
                The <a href="#">Dhaar.pk</a> Team
            </p>
        </td>

    </tr>
    <tr>
        <td colspan="2" style="text-align: center; border-top: 1px solid #cccccc; padding: 10px 0 0">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dhaar&hl=en" style="display: inline-block;">
                <img src="https://storage.dhaar.pk/Google%20Play.png">
            </a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dhaar&hl=en" style="display: inline-block; margin-left: 20px;">
                <img src="https://storage.dhaar.pk/App%20Store.png">
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #ffffff; text-align: center; color: #9aa0a6; padding:0 30px;">
            <p style="font-size:14px; padding: 5px; font-weight: 600; margin:0;">Follow us on Social Media</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #ffffff; text-align: center; padding:0">
            <a target="_blank" href="" style="margin-right: 10px; display: inline-block; margin-left: 10px">
                <img width="25px" src="https://storage.officedoor.ai/OfficeImages/officeDoorAssets/Artboard13.png">
            </a>
            <a target="_blank" href="" style="display: inline-block;">
                <img width="25px" src="https://storage.officedoor.ai/OfficeImages/officeDoorAssets/Artboard13copy.png">
            </a>
            <a target="_blank" href="" style="display: inline-block; margin-left: 10px">
                <img width="25px" src="https://storage.officedoor.ai/OfficeImages/officeDoorAssets/Artboard13copy2.png">
            </a>
            <a target="_blank" href="" style="display: inline-block; margin-left: 10px">
                <img width="25px" src="https://storage.officedoor.ai/OfficeImages/officeDoorAssets/Artboard13copy3.png">
            </a>
            <a target="_blank" href="" style="display: inline-block; margin-left: 10px">
                <img width="25px" src="https://storage.officedoor.ai/OfficeImages/officeDoorAssets/Artboard13copy4.png">
            </a>
        </td>
    </tr>
    <tr style="border-bottom: 1px solid #cccccc;">
        <td colspan="2" style="background: #ffffff; text-align: left; color: #9aa0a6; width:100%; font-family: 'Helvetica Neue', 'Arial', sans-serif; font-weight: 600; padding:10px 30px 10px; font-size: 16px;">
            <p style="margin: 0; font-size: 14px; font-weight: 300;">DISCLAIMER:This email and any attachments are confidential andd may also be privileged.It is intended only for the use of authorized persons.If you are not an addressee,or have received the message in error,you are not authorized to read, copy, disseminate, distribute or use the email or any attachment in any way.Please notify the sender by return email and delete this email </p>
            
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center;font-weight: bold; padding: 10px;">
            
                
                    <a href="" style="color: #000; margin: 0 10px;text-decoration: none;">
                        About Us
                    </a>
                
                    <a href="" style="color: #000; margin: 0 10px;text-decoration: none;">
                        Customer Care 
                    </a>
                
                    <a href="" style="color: #000; margin: 0 10px;text-decoration: none;">
                        Privacy Policy
                    </a>
                
                    <a href="" style="color: #000; margin: 0 10px;text-decoration: none;">
                        Visit website
                    </a>
        </td>
    </tr>
</table>
</body>
</html>