<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>RFPGurus</title>
</head>

<body style="background:#fff; font-family: Verdana;">
  <table
    style="width: 100%;  margin: 0 auto; border-collapse: collapse; background:#fff; text-align:left; table-layout: fixed; font-family: Verdana;"
    cellspacing="0" cellpadding="0">
    <tr>
      <td style="width: 100%; padding:5px; text-align: center;" colspan="2">
          <a target="_blank" href="https://www.rfpgurus.com/" style="display:block; color: blue; font-size: 10px;"><img width="200px" src="https://storage.dhaar.pk/final/Check-Resolution.png"></a>
      </td>
  </tr>
    <tr>
      <td colspan="2" style="text-align: center; padding: 20px; background: #fff">
          <p style="text-align: left; color:#4f4f4f; font-size:16px; font-weight: 600; margin:0 0 10px;">Hi {{ fname }}, </p>
          <br><p style="text-align: left; color:#4f4f4f; font-size:14px; margin: 5px 0;">{{message}}</p><br>
          <p style="text-align: left; color:#656565; font-size:14px; margin: 0;">Thank You, <br> Dhaar Team</p>
      </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center; color: #000; padding:10px 30px;">
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dhaar&hl=en" style="display: inline-block;width: 150px;"><img src="https://storage.coursefrenzy.com/final/Adroid-Badge.png" width="100%"></a>
        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.dhaar&hl=en" style="display: inline-block;width: 150px;"><img src="https://storage.coursefrenzy.com/final/IOS-Badge.png" width="100%"></a>
        
    </td>
</tr>
<tr>
    <td colspan="2" style="background-color: #fff; padding:0 30px; text-align: left;">
        <p style="color: rgb(68, 68, 68); font-size:14px; padding: 15px 0 5px; margin:0;">Follow us on Social Media</p>
        <p style="color: rgb(68, 68, 68); font-size:12px; margin:0; font-weight: normal">Add your voice to the conversation and get the latest news, views and insights from Dhaar.</p>
    </td>
</tr>
<tr>
    <td colspan="2" style="background-color: #fff; padding:6px 30px 0; text-align: left;">
        <a target="_blank" href="https://twitter.com/" style="display: inline-block;">
            
            <img width="35px" src="https://storage.rfpgurus.com/category_images/iconfinder_twitter_294655.png">


        </a>


        <a target="_blank" href="https://www.pinterest.com/" style="display: inline-block; margin-left: 10px">
            <img width="35px" src="https://storage.rfpgurus.com/category_images/iconfinder_social_media_network-29_1851685.png">
        </a>


        <a target="_blank" href=" https://www.instagram.com/" style="display: inline-block; margin-left: 10px">
            <img width="32px" src="https://storage.rfpgurus.com/category_images/iconfinder_social-03_3146786.png">
        </a>

    </td>
</tr>
<tr>
    <td colspan="2" style="background-color: #fff; width:100%; font-family: Verdana; font-weight: 600; padding:0px 30px 0px; font-size: 16px; text-align: left;">
        <p style="color: rgb(68, 68, 68); margin: 0; font-size: 12px; font-weight: 300;">Not subscribed to our newsletter yet? <a target="_blank" href="https://www.rfpgurus.com/signup" style="color: rgb(68, 68, 68);">Sign up</a></p>

        <p style="color: rgb(68, 68, 68); margin: 0; font-size: 12px; font-weight: 300;">If you don't want to receive newsletters from Dhaar, click on <a target="_blank" href="https://www.dhaar.pk/preferences" style="color: rgb(68, 68, 68);">Unsubscribe</a>.</p>


        
    </td>
</tr>
<tr>
    <td colspan="2"  style="text-align: center;">
    <a target="_blank" href="https://www.dhaar.pk/terms" style="font-size: 12px; font-weight: normal; color: rgb(68, 68, 68);">Terms of Use</a>
        <span style="font-weight: 300; color: rgb(68, 68, 68);"> | </span>
        
        <a target="_blank" href="https://www.dhaar.pk/privacy-policy" style="font-size: 12px; font-weight: normal; color: rgb(68, 68, 68);">Privacy Policy</a>

        <span style="font-weight: 300; color: rgb(68, 68, 68);"> | </span>
        <a target="_blank" href="https://www.dhaar.pk/" style="font-size: 12px; font-weight: normal; color: rgb(68, 68, 68);">Visit our website
            <img style="vertical-align: middle" src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_email%2FRead%20More.png?alt=media&token=1bf3de30-adc3-4b57-a77f-8bfce4faa7f6"></a>
</td>
        </tr>
  </table>
</body>

</html>